<h1>Create Team</h1>
<p>Add player first and last names, numbers and an avatar</p> 
<p><%= form_for @team do |f| %></p>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></P>
  <p><%= f.submit %></p>
	<% end %> 