<h1><%= @team.name %></h1>
 <% @team.players.each do |f| %>
 <p><%= "#{f.last_name}, #{f.first_name} ##{f.number}" %></p>
 <% end %>
<p><%= link_to 'Add Players', new_team_player_path(@team) %></p> 
<p><%= link_to 'Add Game', new_team_game_path(@team) %></p> 